// Main Content
@mixin mainContent() {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

@mixin blockPadding() {
  padding: 3rem 0;
}

// Box
@mixin box($box-color: cyan, $padding: false) {
  border: 1px dotted $box-color;
  background: rgba($box-color, 0.1);

  @if $padding {
    padding: $padding;
  }
}

// Nested boxes
@mixin boxer($box-color: cyan, $padding: false, $levels: 4) {
  @include box($box-color, $padding);

  > * {
    @include box($box-color, $padding);
  }

  @if $levels > 1 {
    > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 2 {
    > * > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 3 {
    > * > * > * > * {
      @include box($box-color, $padding);
    }
  }

  @if $levels > 4 {
    > * > * > * > * > * {
      @include box($box-color, $padding);
    }
  }
}
