p, h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Playfair black';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/PlayfairDisplay-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
